<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">

<dom-module id="u-users">
    <template>
        <style>
            :host {
                display: block
            }
        </style>
        <h3>U-Users Component</h3>
    </template>

    <script>
        /**
         * `u-users` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class UUsers extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'u-users';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

        }

        window.customElements.define(UUsers.is, UUsers);
    </script>
</dom-module>