<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">

<dom-module id="u-user">
    <template>
        <style>
            :host {
                display: block
            }

            * {
                box-sizing: border-box;
            }

            .media {
                border: 2px solid #f76707;
                border-radius: 5px;
                background-color: #fff4e6;
                width: 100%;
            }

            .media {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img content";
                grid-template-rows: 128px auto;
                margin-bottom: 1em;
            }

            .media .image {
                grid-area: img;
                background-color: #ffd8a8;
                overflow: hidden;
            }

            .media .image img {
                width: 100%;
            }

            .media .text {
                color: #f76707;
                grid-area: content;
                padding: 0px 10px 10px 10px;
            }
        </style>
        <div class="media">
            <div class="image"><img src="[[user.avatar_url]]" title="[[user.login]]"></div>
            <div class="text"><h2>[[user.login]]</h2></div>
        </div>
    </template>

    <script>
        /**
         * `u-user` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class UUser extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'u-user';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    user: {
                        type: Object
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

        }

        window.customElements.define(UUser.is, UUser);
    </script>
</dom-module>